In [1]:
# Dependencies and Setup
import pandas as pd
import os

In [2]:
# Load csv with ABS data for median income
median_income = pd.read_csv('Resources/G02_median_incomes.csv')
median_income.head()

,POA_CODE_2021,Median_age_persons,Median_mortgage_repay_monthly,Median_tot_prsnl_inc_weekly,Median_rent_weekly,Median_tot_fam_inc_weekly,Average_num_psns_per_bedroom,Median_tot_hhd_inc_weekly,Average_household_size
0,POA6182,0,0,0,0,0,0.0,0,0.0
1,POA6067,33,0,341,150,850,1.9,849,3.0
2,POA6770,29,1800,367,90,794,1.2,1066,3.2
3,POA6718,34,1500,368,150,1006,1.0,1074,2.9
4,POA6765,31,1625,386,100,863,1.1,1226,3.0

In [3]:
# Review columns for relevance
list(median_income.columns)

['POA_CODE_2021',
 'Median_age_persons',
 'Median_mortgage_repay_monthly',
 'Median_tot_prsnl_inc_weekly',
 'Median_rent_weekly',
 'Median_tot_fam_inc_weekly',
 'Average_num_psns_per_bedroom',
 'Median_tot_hhd_inc_weekly',
 'Average_household_size']

In [4]:
# Remove superflus columns for median income
median_income = median_income[['POA_CODE_2021',
 'Median_age_persons',
 'Median_tot_prsnl_inc_weekly',
 'Median_tot_fam_inc_weekly',
 'Median_tot_hhd_inc_weekly']]
median_income.head()

,POA_CODE_2021,Median_age_persons,Median_tot_prsnl_inc_weekly,Median_tot_fam_inc_weekly,Median_tot_hhd_inc_weekly
0,POA6182,0,0,0,0
1,POA6067,33,341,850,849
2,POA6770,29,367,794,1066
3,POA6718,34,368,1006,1074
4,POA6765,31,386,863,1226

In [5]:
# Load csv with ABS data for income by hourshold composition
household_income = pd.read_csv('Resources/G33_household_income.csv')
household_income.head()

,POA_CODE_2021,Neg_Nil_inc_fam_households,Neg_Nil_inc_Non_fam_househlds,Negative_Nil_income_Tot,HI_1_149_Family_households,HI_1_149_Non_family_hseholds,HI_1_149_Tot,HI_150_299_Family_households,HI_150_299_Non_fam_househlds,HI_150_299_Tot,...,HI_4000_more_Tot,Part_inc_stated_Fam_household,Part_inc_std_Non_fam_hhds,Partial_income_stated_Tot,All_incomes_ns_Famly_househld,All_inc_ns_Non_famly_househld,All_incomes_not_stated_Tot,Tot_Family_households,Tot_Non_family_households,Tot_Tot
0,POA6000,47,129,181,6,29,34,7,63,74,...,873,245,109,352,16,38,57,2755,3305,6064
1,POA6003,7,32,37,0,5,11,0,27,31,...,205,74,37,112,4,11,21,790,933,1724
2,POA6004,47,116,161,10,20,26,16,60,77,...,941,217,92,312,11,34,49,2817,2748,5564
3,POA6005,16,44,66,4,15,19,8,45,51,...,491,93,56,152,3,28,31,1287,1661,2949
4,POA6006,21,42,60,3,17,22,6,35,38,...,948,149,66,214,14,21,36,2398,1483,3883

In [6]:
# Review columns for relevance
list(household_income.columns)

['POA_CODE_2021',
 'Neg_Nil_inc_fam_households',
 'Neg_Nil_inc_Non_fam_househlds',
 'Negative_Nil_income_Tot',
 'HI_1_149_Family_households',
 'HI_1_149_Non_family_hseholds',
 'HI_1_149_Tot',
 'HI_150_299_Family_households',
 'HI_150_299_Non_fam_househlds',
 'HI_150_299_Tot',
 'HI_300_399_Family_households',
 'HI_300_399_Non_fam_househlds',
 'HI_300_399_Tot',
 'HI_400_499_Family_households',
 'HI_400_499_Non_fam_househlds',
 'HI_400_499_Tot',
 'HI_500_649_Family_households',
 'HI_500_649_Non_fam_househlds',
 'HI_500_649_Tot',
 'HI_650_799_Family_households',
 'HI_650_799_Non_fam_househlds',
 'HI_650_799_Tot',
 'HI_800_999_Fam_households',
 'HI_800_999_Non_fam_hsehlds',
 'HI_800_999_Tot',
 'HI_1000_1249_Fam_households',
 'HI_1000_1249_Non_fam_hsehlds',
 'HI_1000_1249_Tot',
 'HI_1250_1499_Fam_households',
 'HI_1250_1499_Non_fam_hsehlds',
 'HI_1250_1499_Tot',
 'HI_1500_1749_Fam_households',
 'HI_1500_1749_Non_fam_hsehlds',
 'HI_1500_1749_Tot',
 'HI_1750_1999_Fam_households',
 'HI_1750_1999_Non_fam_hsehlds',
 'HI_1750_1999_Tot',
 'HI_2000_2499_Fam_households',
 'HI_2000_2499_Non_fam_hsehlds',
 'HI_2000_2499_Tot',
 'HI_2500_2999_Fam_households',
 'HI_2500_2999_Non_fam_hsehlds',
 'HI_2500_2999_Tot',
 'HI_3000_3499_Fam_households',
 'HI_3000_3499_Non_fam_hsehlds',
 'HI_3000_3499_Tot',
 'HI_3500_3999_Fam_households',
 'HI_3500_3999_Non_fam_hsehlds',
 'HI_3500_3999_Tot',
 'HI_4000_more_Fam_households',
 'HI_4000_more_Non_fam_hsehlds',
 'HI_4000_more_Tot',
 'Part_inc_stated_Fam_household',
 'Part_inc_std_Non_fam_hhds',
 'Partial_income_stated_Tot',
 'All_incomes_ns_Famly_househld',
 'All_inc_ns_Non_famly_househld',
 'All_incomes_not_stated_Tot',
 'Tot_Family_households',
 'Tot_Non_family_households',
 'Tot_Tot']

In [7]:
# Remove superflus columns for household income
household_income = household_income[['POA_CODE_2021',
 'Neg_Nil_inc_fam_households',
 'Neg_Nil_inc_Non_fam_househlds',
 'HI_1_149_Family_households',
 'HI_1_149_Non_family_hseholds',
 'HI_150_299_Family_households',
 'HI_150_299_Non_fam_househlds',
 'HI_300_399_Family_households',
 'HI_300_399_Non_fam_househlds',
 'HI_400_499_Family_households',
 'HI_400_499_Non_fam_househlds',
 'HI_500_649_Family_households',
 'HI_500_649_Non_fam_househlds',
 'HI_650_799_Family_households',
 'HI_650_799_Non_fam_househlds',
 'HI_800_999_Fam_households',
 'HI_800_999_Non_fam_hsehlds',
 'HI_1000_1249_Fam_households',
 'HI_1000_1249_Non_fam_hsehlds',
 'HI_1250_1499_Fam_households',
 'HI_1250_1499_Non_fam_hsehlds',
 'HI_1500_1749_Fam_households',
 'HI_1500_1749_Non_fam_hsehlds',
 'HI_1750_1999_Fam_households',
 'HI_1750_1999_Non_fam_hsehlds',
 'HI_2000_2499_Fam_households',
 'HI_2000_2499_Non_fam_hsehlds',
 'HI_2500_2999_Fam_households',
 'HI_2500_2999_Non_fam_hsehlds',
 'HI_3000_3499_Fam_households',
 'HI_3000_3499_Non_fam_hsehlds',
 'HI_3500_3999_Fam_households',
 'HI_3500_3999_Non_fam_hsehlds',
 'HI_4000_more_Fam_households',
 'HI_4000_more_Non_fam_hsehlds',
 'Part_inc_stated_Fam_household',
 'Part_inc_std_Non_fam_hhds',
 'All_incomes_ns_Famly_househld',
 'All_inc_ns_Non_famly_househld']]
household_income.head()

,POA_CODE_2021,Neg_Nil_inc_fam_households,Neg_Nil_inc_Non_fam_househlds,HI_1_149_Family_households,HI_1_149_Non_family_hseholds,HI_150_299_Family_households,HI_150_299_Non_fam_househlds,HI_300_399_Family_households,HI_300_399_Non_fam_househlds,HI_400_499_Family_households,...,HI_3000_3499_Fam_households,HI_3000_3499_Non_fam_hsehlds,HI_3500_3999_Fam_households,HI_3500_3999_Non_fam_hsehlds,HI_4000_more_Fam_households,HI_4000_more_Non_fam_hsehlds,Part_inc_stated_Fam_household,Part_inc_std_Non_fam_hhds,All_incomes_ns_Famly_househld,All_inc_ns_Non_famly_househld
0,POA6000,47,129,6,29,7,63,12,129,24,...,251,186,190,35,595,279,245,109,16,38
1,POA6003,7,32,0,5,0,27,3,40,9,...,69,44,43,15,160,48,74,37,4,11
2,POA6004,47,116,10,20,16,60,8,110,24,...,258,142,163,23,688,252,217,92,11,34
3,POA6005,16,44,4,15,8,45,5,90,7,...,124,71,100,14,323,165,93,56,3,28
4,POA6006,21,42,3,17,6,35,10,87,23,...,211,70,170,18,838,111,149,66,14,21

In [8]:
# Load csv with ABS data for individual income
individual_incomeA = pd.read_csv('Resources/2021Census_G17A_WA_POA.csv')
individual_incomeB = pd.read_csv('Resources/2021Census_G17B_WA_POA.csv')
individual_incomeC = pd.read_csv('Resources/2021Census_G17C_WA_POA.csv')
# Merge the three individual income CSVs

individual_income = pd.concat([individual_incomeA,individual_incomeB,individual_incomeC],axis=1)
individual_income.head()

,POA_CODE_2021,M_Neg_Nil_income_15_19_yrs,M_Neg_Nil_income_20_24_yrs,M_Neg_Nil_income_25_34_yrs,M_Neg_Nil_income_35_44_yrs,M_Neg_Nil_income_45_54_yrs,M_Neg_Nil_income_55_64_yrs,M_Neg_Nil_income_65_74_yrs,M_Neg_Nil_income_75_84_yrs,M_Negtve_Nil_incme_85_yrs_ovr,...,P_Tot_15_19_yrs,P_Tot_20_24_yrs,P_Tot_25_34_yrs,P_Tot_35_44_yrs,P_Tot_45_54_yrs,P_Tot_55_64_yrs,P_Tot_65_74_yrs,P_Tot_75_84_yrs,P_Tot_85ov,P_Tot_Tot
0,POA6000,54,106,95,39,27,36,30,6,3,...,315,1643,4789,2596,1363,1116,682,272,83,12861
1,POA6003,11,11,11,3,0,4,4,0,0,...,67,357,1337,647,361,298,200,80,22,3372
2,POA6004,41,53,57,35,28,34,36,14,4,...,241,988,3449,2106,1319,1292,964,352,98,10809
3,POA6005,14,18,27,23,13,12,14,9,3,...,104,471,1927,1171,599,562,415,263,108,5618
4,POA6006,89,16,15,21,14,13,23,9,9,...,378,619,1734,1578,1258,1163,755,405,250,8130

In [9]:
# Review columns for relevance
list(individual_income.columns)

['POA_CODE_2021',
 'M_Neg_Nil_income_15_19_yrs',
 'M_Neg_Nil_income_20_24_yrs',
 'M_Neg_Nil_income_25_34_yrs',
 'M_Neg_Nil_income_35_44_yrs',
 'M_Neg_Nil_income_45_54_yrs',
 'M_Neg_Nil_income_55_64_yrs',
 'M_Neg_Nil_income_65_74_yrs',
 'M_Neg_Nil_income_75_84_yrs',
 'M_Negtve_Nil_incme_85_yrs_ovr',
 'M_Neg_Nil_income_Tot',
 'M_1_149_15_19_yrs',
 'M_1_149_20_24_yrs',
 'M_1_149_25_34_yrs',
 'M_1_149_35_44_yrs',
 'M_1_149_45_54_yrs',
 'M_1_149_55_64_yrs',
 'M_1_149_65_74_yrs',
 'M_1_149_75_84_yrs',
 'M_1_149_85ov',
 'M_1_149_Tot',
 'M_150_299_15_19_yrs',
 'M_150_299_20_24_yrs',
 'M_150_299_25_34_yrs',
 'M_150_299_35_44_yrs',
 'M_150_299_45_54_yrs',
 'M_150_299_55_64_yrs',
 'M_150_299_65_74_yrs',
 'M_150_299_75_84_yrs',
 'M_150_299_85ov',
 'M_150_299_Tot',
 'M_300_399_15_19_yrs',
 'M_300_399_20_24_yrs',
 'M_300_399_25_34_yrs',
 'M_300_399_35_44_yrs',
 'M_300_399_45_54_yrs',
 'M_300_399_55_64_yrs',
 'M_300_399_65_74_yrs',
 'M_300_399_75_84_yrs',
 'M_300_399_85ov',
 'M_300_399_Tot',
 'M_400_499_15_19_yrs',
 'M_400_499_20_24_yrs',
 'M_400_499_25_34_yrs',
 'M_400_499_35_44_yrs',
 'M_400_499_45_54_yrs',
 'M_400_499_55_64_yrs',
 'M_400_499_65_74_yrs',
 'M_400_499_75_84_yrs',
 'M_400_499_85ov',
 'M_400_499_Tot',
 'M_500_649_15_19_yrs',
 'M_500_649_20_24_yrs',
 'M_500_649_25_34_yrs',
 'M_500_649_35_44_yrs',
 'M_500_649_45_54_yrs',
 'M_500_649_55_64_yrs',
 'M_500_649_65_74_yrs',
 'M_500_649_75_84_yrs',
 'M_500_649_85ov',
 'M_500_649_Tot',
 'M_650_799_15_19_yrs',
 'M_650_799_20_24_yrs',
 'M_650_799_25_34_yrs',
 'M_650_799_35_44_yrs',
 'M_650_799_45_54_yrs',
 'M_650_799_55_64_yrs',
 'M_650_799_65_74_yrs',
 'M_650_799_75_84_yrs',
 'M_650_799_85ov',
 'M_650_799_Tot',
 'M_800_999_15_19_yrs',
 'M_800_999_20_24_yrs',
 'M_800_999_25_34_yrs',
 'M_800_999_35_44_yrs',
 'M_800_999_45_54_yrs',
 'M_800_999_55_64_yrs',
 'M_800_999_65_74_yrs',
 'M_800_999_75_84_yrs',
 'M_800_999_85ov',
 'M_800_999_Tot',
 'M_1000_1249_15_19_yrs',
 'M_1000_1249_20_24_yrs',
 'M_1000_1249_25_34_yrs',
 'M_1000_1249_35_44_yrs',
 'M_1000_1249_45_54_yrs',
 'M_1000_1249_55_64_yrs',
 'M_1000_1249_65_74_yrs',
 'M_1000_1249_75_84_yrs',
 'M_1000_1249_85ov',
 'M_1000_1249_Tot',
 'M_1250_1499_15_19_yrs',
 'M_1250_1499_20_24_yrs',
 'M_1250_1499_25_34_yrs',
 'M_1250_1499_35_44_yrs',
 'M_1250_1499_45_54_yrs',
 'M_1250_1499_55_64_yrs',
 'M_1250_1499_65_74_yrs',
 'M_1250_1499_75_84_yrs',
 'M_1250_1499_85ov',
 'M_1250_1499_Tot',
 'M_1500_1749_15_19_yrs',
 'M_1500_1749_20_24_yrs',
 'M_1500_1749_25_34_yrs',
 'M_1500_1749_35_44_yrs',
 'M_1500_1749_45_54_yrs',
 'M_1500_1749_55_64_yrs',
 'M_1500_1749_65_74_yrs',
 'M_1500_1749_75_84_yrs',
 'M_1500_1749_85ov',
 'M_1500_1749_Tot',
 'M_1750_1999_15_19_yrs',
 'M_1750_1999_20_24_yrs',
 'M_1750_1999_25_34_yrs',
 'M_1750_1999_35_44_yrs',
 'M_1750_1999_45_54_yrs',
 'M_1750_1999_55_64_yrs',
 'M_1750_1999_65_74_yrs',
 'M_1750_1999_75_84_yrs',
 'M_1750_1999_85ov',
 'M_1750_1999_Tot',
 'M_2000_2999_15_19_yrs',
 'M_2000_2999_20_24_yrs',
 'M_2000_2999_25_34_yrs',
 'M_2000_2999_35_44_yrs',
 'M_2000_2999_45_54_yrs',
 'M_2000_2999_55_64_yrs',
 'M_2000_2999_65_74_yrs',
 'M_2000_2999_75_84_yrs',
 'M_2000_2999_85ov',
 'M_2000_2999_Tot',
 'M_3000_3499_15_19_yrs',
 'M_3000_3499_20_24_yrs',
 'M_3000_3499_25_34_yrs',
 'M_3000_3499_35_44_yrs',
 'M_3000_3499_45_54_yrs',
 'M_3000_3499_55_64_yrs',
 'M_3000_3499_65_74_yrs',
 'M_3000_3499_75_84_yrs',
 'M_3000_3499_85ov',
 'M_3000_3499_Tot',
 'M_3500_more_15_19_yrs',
 'M_3500_more_20_24_yrs',
 'M_3500_more_25_34_yrs',
 'M_3500_more_35_44_yrs',
 'M_3500_more_45_54_yrs',
 'M_3500_more_55_64_yrs',
 'M_3500_more_65_74_yrs',
 'M_3500_more_75_84_yrs',
 'M_3500_more_85ov',
 'M_3500_more_Tot',
 'M_PI_NS_15_19_yrs',
 'M_PI_NS_ns_20_24_yrs',
 'M_PI_NS_ns_25_34_yrs',
 'M_PI_NS_ns_35_44_yrs',
 'M_PI_NS_ns_45_54_yrs',
 'M_PI_NS_ns_55_64_yrs',
 'M_PI_NS_ns_65_74_yrs',
 'M_PI_NS_ns_75_84_yrs',
 'M_PI_NS_ns_85_yrs_ovr',
 'M_PI_NS_ns_Tot',
 'M_Tot_15_19_yrs',
 'M_Tot_20_24_yrs',
 'M_Tot_25_34_yrs',
 'M_Tot_35_44_yrs',
 'M_Tot_45_54_yrs',
 'M_Tot_55_64_yrs',
 'M_Tot_65_74_yrs',
 'M_Tot_75_84_yrs',
 'M_Tot_85ov',
 'M_Tot_Tot',
 'F_Neg_Nil_income_15_19_yrs',
 'F_Neg_Nil_income_20_24_yrs',
 'F_Neg_Nil_income_25_34_yrs',
 'F_Neg_Nil_income_35_44_yrs',
 'F_Neg_Nil_income_45_54_yrs',
 'F_Neg_Nil_income_55_64_yrs',
 'F_Neg_Nil_income_65_74_yrs',
 'F_Neg_Nil_income_75_84_yrs',
 'F_Neg_Nil_incme_85_yrs_ovr',
 'F_Neg_Nil_income_Tot',
 'F_1_149_15_19_yrs',
 'F_1_149_20_24_yrs',
 'F_1_149_25_34_yrs',
 'F_1_149_35_44_yrs',
 'F_1_149_45_54_yrs',
 'F_1_149_55_64_yrs',
 'F_1_149_65_74_yrs',
 'F_1_149_75_84_yrs',
 'F_1_149_85ov',
 'F_1_149_Tot',
 'F_150_299_15_19_yrs',
 'F_150_299_20_24_yrs',
 'F_150_299_25_34_yrs',
 'F_150_299_35_44_yrs',
 'F_150_299_45_54_yrs',
 'F_150_299_55_64_yrs',
 'F_150_299_65_74_yrs',
 'F_150_299_75_84_yrs',
 'F_150_299_85ov',
 'F_150_299_Tot',
 'POA_CODE_2021',
 'F_300_399_15_19_yrs',
 'F_300_399_20_24_yrs',
 'F_300_399_25_34_yrs',
 'F_300_399_35_44_yrs',
 'F_300_399_45_54_yrs',
 'F_300_399_55_64_yrs',
 'F_300_399_65_74_yrs',
 'F_300_399_75_84_yrs',
 'F_300_399_85ov',
 'F_300_399_Tot',
 'F_400_499_15_19_yrs',
 'F_400_499_20_24_yrs',
 'F_400_499_25_34_yrs',
 'F_400_499_35_44_yrs',
 'F_400_499_45_54_yrs',
 'F_400_499_55_64_yrs',
 'F_400_499_65_74_yrs',
 'F_400_499_75_84_yrs',
 'F_400_499_85ov',
 'F_400_499_Tot',
 'F_500_649_15_19_yrs',
 'F_500_649_20_24_yrs',
 'F_500_649_25_34_yrs',
 'F_500_649_35_44_yrs',
 'F_500_649_45_54_yrs',
 'F_500_649_55_64_yrs',
 'F_500_649_65_74_yrs',
 'F_500_649_75_84_yrs',
 'F_500_649_85ov',
 'F_500_649_Tot',
 'F_650_799_15_19_yrs',
 'F_650_799_20_24_yrs',
 'F_650_799_25_34_yrs',
 'F_650_799_35_44_yrs',
 'F_650_799_45_54_yrs',
 'F_650_799_55_64_yrs',
 'F_650_799_65_74_yrs',
 'F_650_799_75_84_yrs',
 'F_650_799_85ov',
 'F_650_799_Tot',
 'F_800_999_15_19_yrs',
 'F_800_999_20_24_yrs',
 'F_800_999_25_34_yrs',
 'F_800_999_35_44_yrs',
 'F_800_999_45_54_yrs',
 'F_800_999_55_64_yrs',
 'F_800_999_65_74_yrs',
 'F_800_999_75_84_yrs',
 'F_800_999_85ov',
 'F_800_999_Tot',
 'F_1000_1249_15_19_yrs',
 'F_1000_1249_20_24_yrs',
 'F_1000_1249_25_34_yrs',
 'F_1000_1249_35_44_yrs',
 'F_1000_1249_45_54_yrs',
 'F_1000_1249_55_64_yrs',
 'F_1000_1249_65_74_yrs',
 'F_1000_1249_75_84_yrs',
 'F_1000_1249_85ov',
 'F_1000_1249_Tot',
 'F_1250_1499_15_19_yrs',
 'F_1250_1499_20_24_yrs',
 'F_1250_1499_25_34_yrs',
 'F_1250_1499_35_44_yrs',
 'F_1250_1499_45_54_yrs',
 'F_1250_1499_55_64_yrs',
 'F_1250_1499_65_74_yrs',
 'F_1250_1499_75_84_yrs',
 'F_1250_1499_85ov',
 'F_1250_1499_Tot',
 'F_1500_1749_15_19_yrs',
 'F_1500_1749_20_24_yrs',
 'F_1500_1749_25_34_yrs',
 'F_1500_1749_35_44_yrs',
 'F_1500_1749_45_54_yrs',
 'F_1500_1749_55_64_yrs',
 'F_1500_1749_65_74_yrs',
 'F_1500_1749_75_84_yrs',
 'F_1500_1749_85ov',
 'F_1500_1749_Tot',
 'F_1750_1999_15_19_yrs',
 'F_1750_1999_20_24_yrs',
 'F_1750_1999_25_34_yrs',
 'F_1750_1999_35_44_yrs',
 'F_1750_1999_45_54_yrs',
 'F_1750_1999_55_64_yrs',
 'F_1750_1999_65_74_yrs',
 'F_1750_1999_75_84_yrs',
 'F_1750_1999_85ov',
 'F_1750_1999_Tot',
 'F_2000_2999_15_19_yrs',
 'F_2000_2999_20_24_yrs',
 'F_2000_2999_25_34_yrs',
 'F_2000_2999_35_44_yrs',
 'F_2000_2999_45_54_yrs',
 'F_2000_2999_55_64_yrs',
 'F_2000_2999_65_74_yrs',
 'F_2000_2999_75_84_yrs',
 'F_2000_2999_85ov',
 'F_2000_2999_Tot',
 'F_3000_3499_15_19_yrs',
 'F_3000_3499_20_24_yrs',
 'F_3000_3499_25_34_yrs',
 'F_3000_3499_35_44_yrs',
 'F_3000_3499_45_54_yrs',
 'F_3000_3499_55_64_yrs',
 'F_3000_3499_65_74_yrs',
 'F_3000_3499_75_84_yrs',
 'F_3000_3499_85ov',
 'F_3000_3499_Tot',
 'F_3500_more_15_19_yrs',
 'F_3500_more_20_24_yrs',
 'F_3500_more_25_34_yrs',
 'F_3500_more_35_44_yrs',
 'F_3500_more_45_54_yrs',
 'F_3500_more_55_64_yrs',
 'F_3500_more_65_74_yrs',
 'F_3500_more_75_84_yrs',
 'F_3500_more_85ov',
 'F_3500_more_Tot',
 'F_PI_NS_15_19_yrs',
 'F_PI_NS_ns_20_24_yrs',
 'F_PI_NS_ns_25_34_yrs',
 'F_PI_NS_ns_35_44_yrs',
 'F_PI_NS_ns_45_54_yrs',
 'F_PI_NS_ns_55_64_yrs',
 'F_PI_NS_ns_65_74_yrs',
 'F_PI_NS_ns_75_84_yrs',
 'F_PI_NS_ns_85_yrs_ovr',
 'F_PI_NS_ns_Tot',
 'F_Tot_15_19_yrs',
 'F_Tot_20_24_yrs',
 'F_Tot_25_34_yrs',
 'F_Tot_35_44_yrs',
 'F_Tot_45_54_yrs',
 'F_Tot_55_64_yrs',
 'F_Tot_65_74_yrs',
 'F_Tot_75_84_yrs',
 'F_Tot_85ov',
 'F_Tot_Tot',
 'P_Neg_Nil_income_15_19_yrs',
 'P_Neg_Nil_income_20_24_yrs',
 'P_Neg_Nil_income_25_34_yrs',
 'P_Neg_Nil_income_35_44_yrs',
 'P_Neg_Nil_income_45_54_yrs',
 'P_Neg_Nil_income_55_64_yrs',
 'P_Neg_Nil_income_65_74_yrs',
 'P_Neg_Nil_income_75_84_yrs',
 'P_Negtve_Nil_incme_85_yrs_ovr',
 'P_Neg_Nil_income_Tot',
 'P_1_149_15_19_yrs',
 'P_1_149_20_24_yrs',
 'P_1_149_25_34_yrs',
 'P_1_149_35_44_yrs',
 'P_1_149_45_54_yrs',
 'P_1_149_55_64_yrs',
 'P_1_149_65_74_yrs',
 'P_1_149_75_84_yrs',
 'P_1_149_85ov',
 'P_1_149_Tot',
 'P_150_299_15_19_yrs',
 'P_150_299_20_24_yrs',
 'P_150_299_25_34_yrs',
 'P_150_299_35_44_yrs',
 'P_150_299_45_54_yrs',
 'P_150_299_55_64_yrs',
 'P_150_299_65_74_yrs',
 'P_150_299_75_84_yrs',
 'P_150_299_85ov',
 'P_150_299_Tot',
 'P_300_399_15_19_yrs',
 'P_300_399_20_24_yrs',
 'P_300_399_25_34_yrs',
 'P_300_399_35_44_yrs',
 'P_300_399_45_54_yrs',
 'P_300_399_55_64_yrs',
 'P_300_399_65_74_yrs',
 'P_300_399_75_84_yrs',
 'P_300_399_85ov',
 'P_300_399_Tot',
 'P_400_499_15_19_yrs',
 'P_400_499_20_24_yrs',
 'P_400_499_25_34_yrs',
 'P_400_499_35_44_yrs',
 'P_400_499_45_54_yrs',
 'P_400_499_55_64_yrs',
 'P_400_499_65_74_yrs',
 'P_400_499_75_84_yrs',
 'P_400_499_85ov',
 'P_400_499_Tot',
 'P_500_649_15_19_yrs',
 'P_500_649_20_24_yrs',
 'P_500_649_25_34_yrs',
 'P_500_649_35_44_yrs',
 'P_500_649_45_54_yrs',
 'P_500_649_55_64_yrs',
 'P_500_649_65_74_yrs',
 'P_500_649_75_84_yrs',
 'P_500_649_85ov',
 'P_500_649_Tot',
 'POA_CODE_2021',
 'P_650_799_15_19_yrs',
 'P_650_799_20_24_yrs',
 'P_650_799_25_34_yrs',
 'P_650_799_35_44_yrs',
 'P_650_799_45_54_yrs',
 'P_650_799_55_64_yrs',
 'P_650_799_65_74_yrs',
 'P_650_799_75_84_yrs',
 'P_650_799_85ov',
 'P_650_799_Tot',
 'P_800_999_15_19_yrs',
 'P_800_999_20_24_yrs',
 'P_800_999_25_34_yrs',
 'P_800_999_35_44_yrs',
 'P_800_999_45_54_yrs',
 'P_800_999_55_64_yrs',
 'P_800_999_65_74_yrs',
 'P_800_999_75_84_yrs',
 'P_800_999_85ov',
 'P_800_999_Tot',
 'P_1000_1249_15_19_yrs',
 'P_1000_1249_20_24_yrs',
 'P_1000_1249_25_34_yrs',
 'P_1000_1249_35_44_yrs',
 'P_1000_1249_45_54_yrs',
 'P_1000_1249_55_64_yrs',
 'P_1000_1249_65_74_yrs',
 'P_1000_1249_75_84_yrs',
 'P_1000_1249_85ov',
 'P_1000_1249_Tot',
 'P_1250_1499_15_19_yrs',
 'P_1250_1499_20_24_yrs',
 'P_1250_1499_25_34_yrs',
 'P_1250_1499_35_44_yrs',
 'P_1250_1499_45_54_yrs',
 'P_1250_1499_55_64_yrs',
 'P_1250_1499_65_74_yrs',
 'P_1250_1499_75_84_yrs',
 'P_1250_1499_85ov',
 'P_1250_1499_Tot',
 'P_1500_1749_15_19_yrs',
 'P_1500_1749_20_24_yrs',
 'P_1500_1749_25_34_yrs',
 'P_1500_1749_35_44_yrs',
 'P_1500_1749_45_54_yrs',
 'P_1500_1749_55_64_yrs',
 'P_1500_1749_65_74_yrs',
 'P_1500_1749_75_84_yrs',
 'P_1500_1749_85ov',
 'P_1500_1749_Tot',
 'P_1750_1999_15_19_yrs',
 'P_1750_1999_20_24_yrs',
 'P_1750_1999_25_34_yrs',
 'P_1750_1999_35_44_yrs',
 'P_1750_1999_45_54_yrs',
 'P_1750_1999_55_64_yrs',
 'P_1750_1999_65_74_yrs',
 'P_1750_1999_75_84_yrs',
 'P_1750_1999_85ov',
 'P_1750_1999_Tot',
 'P_2000_2999_15_19_yrs',
 'P_2000_2999_20_24_yrs',
 'P_2000_2999_25_34_yrs',
 'P_2000_2999_35_44_yrs',
 'P_2000_2999_45_54_yrs',
 'P_2000_2999_55_64_yrs',
 'P_2000_2999_65_74_yrs',
 'P_2000_2999_75_84_yrs',
 'P_2000_2999_85ov',
 'P_2000_2999_Tot',
 'P_3000_3499_15_19_yrs',
 'P_3000_3499_20_24_yrs',
 'P_3000_3499_25_34_yrs',
 'P_3000_3499_35_44_yrs',
 'P_3000_3499_45_54_yrs',
 'P_3000_3499_55_64_yrs',
 'P_3000_3499_65_74_yrs',
 'P_3000_3499_75_84_yrs',
 'P_3000_3499_85ov',
 'P_3000_3499_Tot',
 'P_3500_more_15_19_yrs',
 'P_3500_more_20_24_yrs',
 'P_3500_more_25_34_yrs',
 'P_3500_more_35_44_yrs',
 'P_3500_more_45_54_yrs',
 'P_3500_more_55_64_yrs',
 'P_3500_more_65_74_yrs',
 'P_3500_more_75_84_yrs',
 'P_3500_more_85ov',
 'P_3500_more_Tot',
 'P_PI_NS_15_19_yrs',
 'P_PI_NS_ns_20_24_yrs',
 'P_PI_NS_ns_25_34_yrs',
 'P_PI_NS_ns_35_44_yrs',
 'P_PI_NS_ns_45_54_yrs',
 'P_PI_NS_ns_55_64_yrs',
 'P_PI_NS_ns_65_74_yrs',
 'P_PI_NS_ns_75_84_yrs',
 'P_PI_NS_ns_85_yrs_ovr',
 'P_PI_NS_ns_Tot',
 'P_Tot_15_19_yrs',
 'P_Tot_20_24_yrs',
 'P_Tot_25_34_yrs',
 'P_Tot_35_44_yrs',
 'P_Tot_45_54_yrs',
 'P_Tot_55_64_yrs',
 'P_Tot_65_74_yrs',
 'P_Tot_75_84_yrs',
 'P_Tot_85ov',
 'P_Tot_Tot']

In [10]:
# Remove columns to remove gender split & totals
individual_income = individual_income[['POA_CODE_2021',
 'P_Neg_Nil_income_15_19_yrs',
 'P_Neg_Nil_income_20_24_yrs',
 'P_Neg_Nil_income_25_34_yrs',
 'P_Neg_Nil_income_35_44_yrs',
 'P_Neg_Nil_income_45_54_yrs',
 'P_Neg_Nil_income_55_64_yrs',
 'P_Neg_Nil_income_65_74_yrs',
 'P_Neg_Nil_income_75_84_yrs',
 'P_Negtve_Nil_incme_85_yrs_ovr',
 'P_1_149_15_19_yrs',
 'P_1_149_20_24_yrs',
 'P_1_149_25_34_yrs',
 'P_1_149_35_44_yrs',
 'P_1_149_45_54_yrs',
 'P_1_149_55_64_yrs',
 'P_1_149_65_74_yrs',
 'P_1_149_75_84_yrs',
 'P_1_149_85ov',
 'P_150_299_15_19_yrs',
 'P_150_299_20_24_yrs',
 'P_150_299_25_34_yrs',
 'P_150_299_35_44_yrs',
 'P_150_299_45_54_yrs',
 'P_150_299_55_64_yrs',
 'P_150_299_65_74_yrs',
 'P_150_299_75_84_yrs',
 'P_150_299_85ov',
 'P_300_399_15_19_yrs',
 'P_300_399_20_24_yrs',
 'P_300_399_25_34_yrs',
 'P_300_399_35_44_yrs',
 'P_300_399_45_54_yrs',
 'P_300_399_55_64_yrs',
 'P_300_399_65_74_yrs',
 'P_300_399_75_84_yrs',
 'P_300_399_85ov',
 'P_400_499_15_19_yrs',
 'P_400_499_20_24_yrs',
 'P_400_499_25_34_yrs',
 'P_400_499_35_44_yrs',
 'P_400_499_45_54_yrs',
 'P_400_499_55_64_yrs',
 'P_400_499_65_74_yrs',
 'P_400_499_75_84_yrs',
 'P_400_499_85ov',
 'P_400_499_Tot',
 'P_500_649_15_19_yrs',
 'P_500_649_20_24_yrs',
 'P_500_649_25_34_yrs',
 'P_500_649_35_44_yrs',
 'P_500_649_45_54_yrs',
 'P_500_649_55_64_yrs',
 'P_500_649_65_74_yrs',
 'P_500_649_75_84_yrs',
 'P_500_649_85ov',
 'P_650_799_15_19_yrs',
 'P_650_799_20_24_yrs',
 'P_650_799_25_34_yrs',
 'P_650_799_35_44_yrs',
 'P_650_799_45_54_yrs',
 'P_650_799_55_64_yrs',
 'P_650_799_65_74_yrs',
 'P_650_799_75_84_yrs',
 'P_650_799_85ov',
 'P_800_999_15_19_yrs',
 'P_800_999_20_24_yrs',
 'P_800_999_25_34_yrs',
 'P_800_999_35_44_yrs',
 'P_800_999_45_54_yrs',
 'P_800_999_55_64_yrs',
 'P_800_999_65_74_yrs',
 'P_800_999_75_84_yrs',
 'P_800_999_85ov',
 'P_1000_1249_15_19_yrs',
 'P_1000_1249_20_24_yrs',
 'P_1000_1249_25_34_yrs',
 'P_1000_1249_35_44_yrs',
 'P_1000_1249_45_54_yrs',
 'P_1000_1249_55_64_yrs',
 'P_1000_1249_65_74_yrs',
 'P_1000_1249_75_84_yrs',
 'P_1000_1249_85ov',
 'P_1250_1499_15_19_yrs',
 'P_1250_1499_20_24_yrs',
 'P_1250_1499_25_34_yrs',
 'P_1250_1499_35_44_yrs',
 'P_1250_1499_45_54_yrs',
 'P_1250_1499_55_64_yrs',
 'P_1250_1499_65_74_yrs',
 'P_1250_1499_75_84_yrs',
 'P_1250_1499_85ov',
 'P_1500_1749_15_19_yrs',
 'P_1500_1749_20_24_yrs',
 'P_1500_1749_25_34_yrs',
 'P_1500_1749_35_44_yrs',
 'P_1500_1749_45_54_yrs',
 'P_1500_1749_55_64_yrs',
 'P_1500_1749_65_74_yrs',
 'P_1500_1749_75_84_yrs',
 'P_1500_1749_85ov',
 'P_1750_1999_15_19_yrs',
 'P_1750_1999_20_24_yrs',
 'P_1750_1999_25_34_yrs',
 'P_1750_1999_35_44_yrs',
 'P_1750_1999_45_54_yrs',
 'P_1750_1999_55_64_yrs',
 'P_1750_1999_65_74_yrs',
 'P_1750_1999_75_84_yrs',
 'P_1750_1999_85ov',
 'P_2000_2999_15_19_yrs',
 'P_2000_2999_20_24_yrs',
 'P_2000_2999_25_34_yrs',
 'P_2000_2999_35_44_yrs',
 'P_2000_2999_45_54_yrs',
 'P_2000_2999_55_64_yrs',
 'P_2000_2999_65_74_yrs',
 'P_2000_2999_75_84_yrs',
 'P_2000_2999_85ov',
 'P_3000_3499_15_19_yrs',
 'P_3000_3499_20_24_yrs',
 'P_3000_3499_25_34_yrs',
 'P_3000_3499_35_44_yrs',
 'P_3000_3499_45_54_yrs',
 'P_3000_3499_55_64_yrs',
 'P_3000_3499_65_74_yrs',
 'P_3000_3499_75_84_yrs',
 'P_3000_3499_85ov',
 'P_3500_more_15_19_yrs',
 'P_3500_more_20_24_yrs',
 'P_3500_more_25_34_yrs',
 'P_3500_more_35_44_yrs',
 'P_3500_more_45_54_yrs',
 'P_3500_more_55_64_yrs',
 'P_3500_more_65_74_yrs',
 'P_3500_more_75_84_yrs',
 'P_3500_more_85ov',
 'P_PI_NS_15_19_yrs',
 'P_PI_NS_ns_20_24_yrs',
 'P_PI_NS_ns_25_34_yrs',
 'P_PI_NS_ns_35_44_yrs',
 'P_PI_NS_ns_45_54_yrs',
 'P_PI_NS_ns_55_64_yrs',
 'P_PI_NS_ns_65_74_yrs',
 'P_PI_NS_ns_75_84_yrs',
 'P_PI_NS_ns_85_yrs_ovr']]
individual_income.head()

,POA_CODE_2021,POA_CODE_2021,POA_CODE_2021,P_Neg_Nil_income_15_19_yrs,P_Neg_Nil_income_20_24_yrs,P_Neg_Nil_income_25_34_yrs,P_Neg_Nil_income_35_44_yrs,P_Neg_Nil_income_45_54_yrs,P_Neg_Nil_income_55_64_yrs,P_Neg_Nil_income_65_74_yrs,...,P_3500_more_85ov,P_PI_NS_15_19_yrs,P_PI_NS_ns_20_24_yrs,P_PI_NS_ns_25_34_yrs,P_PI_NS_ns_35_44_yrs,P_PI_NS_ns_45_54_yrs,P_PI_NS_ns_55_64_yrs,P_PI_NS_ns_65_74_yrs,P_PI_NS_ns_75_84_yrs,P_PI_NS_ns_85_yrs_ovr
0,POA6000,POA6000,POA6000,95,217,274,149,74,93,65,...,4,45,265,582,295,188,146,73,51,21
1,POA6003,POA6003,POA6003,27,26,43,20,19,21,15,...,0,6,48,173,48,34,26,10,10,0
2,POA6004,POA6004,POA6004,83,112,228,148,89,97,91,...,4,19,70,287,212,156,115,85,39,10
3,POA6005,POA6005,POA6005,30,30,81,76,29,26,40,...,9,10,39,136,92,43,38,35,22,8
4,POA6006,POA6006,POA6006,156,36,45,56,45,71,55,...,0,5,25,101,77,39,50,58,30,16